@{
    ViewData["Title"] = "HealthyFood";
}
<div class="text-center" >
    
    <h1 class="display-4">In this page you will find the Healthy Foods</h1>
</div>
<a class="btn btn-primary" asp-action="ClickForURL">Click</a>